<div class="chat-message-received">
  <h4>Ragnar</h4>
  <div class="chat-message-body">
    <p class="medium-text">Excepteur sint occaecat cupidatat non proident</p>
    <p class="small-text">sent on: today</p>
  </div>
</div>

<div class="chat-message-sent">
  <h4>Ragnar</h4>
  <div class="chat-message-body">
    <p class="medium-text">Ut enim ad minim veniam</p>
    <p class="small-text">Sent: 11:31</p>
  </div>
</div>

<div class="chat-message-received">
  <h4>Ragnar</h4>
  <div class="chat-message-body">
    <p class="medium-text">Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="small-text">sent on: today</p>
  </div>
</div>