<div id="chat-div">
  <div id="messages-render-div">
    {{> chat-message}}
  </div>
  <div id="input-div">
    <input id="message-input" type="text" placeholder="Send message" />
    <i class="fa-solid fa-paper-plane"></i>
  </div>

</div>