<!-- Pulls up modal box asking user if they want to start a new game and what side they wish to play. Has button for going back as well --> 
<div id="new-game-modal">
  <div class="card">
    <div id="header-div">
      <h2>Start a New Game</h2>
      
    </div>
    <h4>What role would you like?</h4>
    <div id="role-btn-div">
      <button id="attacker-btn" class="attacker-btn-selected">Attacker</button>
      <button id="defender-btn" class="defender-btn">Defender</button>
    </div>
    <div>
     <h4>What board size would you like?</h4>
    </div>
    <div id="board-size-div">
      <button id="eleven-board" class="eleven-board-selected">11 X 11</button>
      <button id="nine-board" class="nine-board">9 X 9</button>
    </div>
    <button id="submit-btn">Let's Go!</button>
    <button id="cancel-btn">Nevermind...</button>
  </div>
</div>
