<div id="new-game-modal">
  <div class="card">
    <div id="header-div">
      <h2>Start a New Game</h2>
      <h4>What role would you like?</h4>
    </div>
    <div id="role-btn-div">
      <button id="attacker-btn">Attacker</button>
      <button id="defender-btn">Defender</button>
    </div>
    <button id="cancel-btn">Nevermind...</button>
  </div>
</div>