 <div id="game-list-div">
<div id="left-panel">
  <div id="left-panel-header">
      <h3 id="left-panel-attacker"><i class="fa-solid fa-sword"></i> Attacker</h3>      
      <h3 id="left-panel-defender"><i class="fa-solid fa-shield"></i> Defender</h3>
  </div>
  <div id="game-list">
    {{#each games as |game|}}
    {{> game-list-item}}
    {{/each}}
  </div>
</div>

<div id="left-panel-sm">
  <div id="left-panel-header-sm">
      <img src="/images/berserker-piece.png" id="left-panel-attacker-sm"></img>
      <img src="/images/guard-piece.png" id="left-panel-defender-sm"></img>
  </div>
  <div id="game-list-sm">
    {{#each games as |game|}}
    {{> game-list-item}}
    {{/each}}
  </div>
</div>

{{#if loggedIn}}
  <script src="/js/joinGame.js" defer></script>

    <div id="create-game-btn-div">
      <button id="create-game-btn"><i class="fa-solid fa-plus fa-sm"></i> Create Game</button>
    </div>
    {{/if}}
  </div>