<div id="gamerender">
  <div id="combatants-header">
    <div id="combatants-header-attacker-div">
      <img src="/images/attacker-chip.png" id="attacker-chip" />
      <h3 id="attacker-username"></h3>
    </div>
    <h3 id="whos-turn"></h3>
    <div id="combatants-header-defender-div">
      <h3 id="defender-username"></h3></div>
    <img src="/images/defender-chip.png" id="defender-chip" />
  </div>
  <div id="gameboard-area">
    </div>
    <div id="{{thisGame.id}}">
      <table id="table"></table>
    </div>
  </div>
</div>

{{! the following will appear on the game are until to user selects a game }}
<div id="my-games-greeting">
  <h2>Select a game on the left to view</h2>
</div>
<script type="module" src="/gameEngine/index.js"></script>