<div id="left-panel">
    <div id="left-panel-header">
        <h3 id="left-panel-attacker">Attacker</h3>
        <h3 id="left-panel-defender">Defender</h3>
    </div>
<div id="game-list">
{{#each games as |game|}}
{{> game-list-item}}
{{/each}}
</div>
{{#if loggedIn}}
  <script src="/js/joinGame.js"></script>
{{/if}}
</div>