<div id="leave-game-modal">
  <div class="card">
    <h2>Leave Game?</h2>
    <h4>Are you sure you want to leave the game? Your opponent will be declared
      the winner.</h4>
    <div id="leave-game-btn-div">
      <button id="confirm-leave-btn">Forfeit</button>
      <button id="cancel-leave-btn">Nevermind...</button>
    </div>
  </div>
</div>