<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/gameEngine/styles/grid-style.css" />
    <link rel="stylesheet" href="/gameEngine/styles/peice-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&family=Skranji&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {{! Socket Script }}
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" defer></script>
<script src="https://kit.fontawesome.com/1d33aad484.js" crossorigin="anonymous"></script>
    <title>Toff-leo</title>
  </head>
  <body>
    <nav>
      <div id="left-nav-links">
        <h2><a href="/"><i class="fa-solid fa-users"></i> Lobby</a></h2>
        <!-- Checks if user is logged in so they have access to their active games and stats -->
        {{#if loggedIn}}
          <h2><a href="/my-games"><i class="fa-solid fa-user"></i> My Games</a></h2>
          <h2><a href="/my-stats"><i class="fa-solid fa-gauge-min"></i> My Stats</a></h2>
        {{/if}}
      </div>
      {{#if loggedIn}}
        <h2 id="login-out"><i class="fa-sharp fa-solid fa-arrow-right-from-arc"></i> Logout</h2>
      {{else}}
        <h2 id="login-out"><a href="/login"><i class="fa-solid fa-arrow-right-to-arc"></i>  Login</a></h2>
      {{/if}}
    </nav>
    {{{body}}}
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    ></script>

  </body>
</html>