<div id="page-body">
  <!-- pending build this will render the list on the left of active games.  To also be used for my games --> 
  {{> game-list}} 
  <div id="root-div">
    <div id="root-header">
      <h2><i class="fa-solid fa-users"></i> Lobby</h2>
 
    </div>
      <div id="game-area">
      {{> game-area}}
    </div>
  </div>    

</div>

{{#if loggedIn}}
{{> create-game-modal}}
  <script src="/js/createGame.js"></script>
{{/if}}


<script type="module" src="/js/gameList.js"></script>