
<div id="login-div">
  <div class="card" id="login-card">
    <div class="login-card-header-div">
      <h3>Login</h3>
      <!-- Asking a previous user to login, conects back to utils/auth.js and public/js/login.js-->
      <p class="medium-text">Welcome back!</p>
    </div>
    <form action="">
      <div class="input-div">
        <label id="email-login-label" for="email-login">Email</label>
        <input type="text" id="email-login" />
      </div>
      <div class="input-div">
        <label id="password-login-label" for="password-login">Password</label>
        <input type="password" id="password-login" />
      </div>
      <button id="login-form">Submit</button>
    </form>
  </div>
  <p></p>
  <div class="card">
    <div class="login-card-header-div">
      <!--Uses auth.js like above and creates a new profile db entry for the user--> 
      <h3>New to Toff-leo?</h3>
      <p class="medium-text">Create an account and play!</p>
    </div>
    <form action="">
      <div class="input-div">
        <label id="new-user-label" for="email-login">User Name</label>
        <input type="text" id="name-signup" />
      </div>
      <div class="input-div">
        <label id="new-email-label" for="email-login">Email</label>
        <input type="text" id="email-signup" />
      </div>
      <div class="input-div">
        <label id="new-password-label" for="password-login">Password</label>
        <input type="password" id="password-signup" />
      </div>
      <button id="signup-form">Sign Up and Log in</button>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>