<div id="page-body">
  {{> game-list}} 
  <div id="root-div">
    <div id="root-header">
      <h2><i class="fa-solid fa-user"></i> My Games</h2>
      <button id="create-game-btn"><i class="fa-solid fa-plus fa-sm"></i> Start New Game</button>
    </div>
    <div id="game-area">
      {{> game-area}}
    </div>
      
  </div>
  {{> chat}}
</div>
{{> create-game-modal}}
<script type="module" src="/js/gameList.js"></script>
  {{!-- <script type="module" src="/js/myGames.js"></script> --}}
    <script src="/js/createGame.js"></script> 
         <script src="/js/chat.js" defer></script>