
.piece {
    position: relative;
    display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  }
  
  .piece::before,
  .piece::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    z-index: 1;
    border-radius: 50%;

  }


